node_modules
*.tmp*
*.log*
*.nuxt
*.nitro
*.output
*.env
*.env.*
*.cache
*.build
.DS_Store
build
*.strapi-updater.json

dist
temp
coverage
.DS_Store
.vscode
debug.log

*.log
*.swp

.yarn/*
!.yarn/releases
!.yarn/plugins
